body{background-color: cadetblue;}
header{background-color: cornsilk;}
div{background-color: lightsteelblue;}
h1{color: brown;}
h2{color: firebrick;}
p{color: black;}
#sec1{background-color: lightblue;}
#sec2{background-color: lightcyan;}
#sec3{background-color: lightgray;}
#sec4{background-color: lightsteelblue;}
h{color: blueviolet;}